name: release

on:
  push:
    branches:
      - master

permissions:
  contents: write
  pull-requests: write
  repository-projects: write

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: 缓存 node modules
        id: cache-npm
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-
            ${{ runner.os }}-

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: 安装依赖
        run: |
          npm i

  build:
    runs-on: ubuntu-latest
    needs: [install]
    steps:
      - uses: actions/checkout@v4

      - name: 缓存 gradle
        id: cache-gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
            ${{ runner.os }}-

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: 安装依赖
        run: |
          npm i

      - name: 启动java 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21
  
      - name: 安装 NDK
        run: |
          wget https://dl.google.com/android/repository/android-ndk-r27c-linux.zip
          sudo apt-get install libunwind-dev
          unzip android-ndk-r27c-linux.zip -d $HOME

      - name: 设置 NDK_HOME
        run: echo "NDK_HOME=$HOME/android-ndk-r27c" >> $GITHUB_ENV

      - name: 启动rust
        uses: actions-rs/toolchain@v1
        with:
            toolchain: nightly
            override: true
            components: rustfmt, clippy
        
      - name: 打包安卓
        run: |
          npm run tauri android init
          npm run tauri android build -- --apk --target x86_64
      
      # - name: 打包安卓
      #   run: |
      #     cd android
      #     chmod +x ./gradlew
      #     ./gradlew assembleRelease --no-daemon

      # - name: Upload Artifact
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: app-release.apk
      #     path: android/app/build/outputs/apk/release/

      - name: 发布 Release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          name: v0.0.7
          tag_name: v0.0.7
          files: src-tauri/gen/android/app/build/outputs/apk/release/app-release.apk
